
 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');


$font-stack:  'Montserrat', sans-serif;
$font-main:  'Bitter', serif;


$primary-color: #000;
$light-color: #fff;
$accent-color: #ddcb84;